@font-face {
    font-family:'Public Sans' ,sans-serif ;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/public-sans-v13-latin-regular.ttf);
}
@font-face {
    font-family: 'Ibarra Real Nova' , serif;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ibarra-real-nova-v19-latin-700.ttf);
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    padding: 0;
    width: 1110px;
}


/* header */
.header{
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    width: 1110px;
    background-color: white;
    
}
nav ul{
       display: flex;
}
nav li{
    list-style: none;
}

.nav1{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    color: #5FB4A2;

}
.nav2{
    margin-left: 43px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #33323D;
}
.section1{
    margin-top: 100px;
    position: relative;
}
.sec1_h1{
    
    width: 380px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    margin-top: 56px;
    color: #33323D;
}
.sec1{
    position: absolute;
    bottom: 0;
    width: 445px;
    height: 357px;

    background-color: white;
}
.button1{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    background: #203A4C;
    
}
.button1_svg{
    margin-right: 30px;
    margin-left: 30px;

    
}
.button_link{
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.section2{
    
    display: flex;
    margin-top: 150px;
}
.sec2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 125px;
}
.sec2_h2{
    width: 350px;
    height: 42px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}
.sec2_p{
    position: relative;
    width: 350px;
    height: 360px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.button2{
    width: 202px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #33323D;
}
.button2_link{
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}
.rectangle1{
    width: 350px;
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
}
.rectangle1_1{
    position: absolute;
    bottom: 0;
    width: 350px;
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
}

.section3{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.rectangle2{
    width: 534px;
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;

}
.button3{

    width: 162px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #33323D;
}
.button3_link{
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}
.sec3_h2{
    width: 340px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}
/* Footer */
.section4{
    margin-top: 150px;
    height: 80px;
    padding-top: 25px;
    background: #33323D;
    
}
.sec4{
    display: flex;
    align-items: center;
}
.sec4 ul{
    list-style: none;
    display: flex;
}
.footer{
    display: flex;
    justify-content: space-between;

}
.sec5 svg+svg{
    margin-left: 16px;
}
.links{
    text-decoration: none;
}
.sec4 li{
    margin-left: 45px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}